---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { siteConfig } from "@/site-config";
import FormattedDate from "../FormattedDate.astro";

interface Props {
	content: CollectionEntry<"blog" | "projects" | "notes">;
}

const {
	content: { data, render },
} = Astro.props;

const { remarkPluginFrontmatter } = await render();
---

{
	data.coverImage && (
		<div class="aspect-h-9 aspect-w-21 mb-6 w-full">
			<Image
				alt={data.coverImage.alt}
				class="object-cover"
				fetchpriority="high"
				loading="eager"
				src={data.coverImage.src}
			/>
		</div>
	)
}
{data.draft ? <span class="text-base text-red-500">(Draft)</span> : null}
<h1 class="title text-3xl sm:text-4xl">
	{data.title}
</h1>
<div
	class:list={[
		{ "justify-center": siteConfig.centerPost },
		"mt-3 flex flex-wrap gap-y-2 font-light *:after:mx-3 *:after:content-['·'] last:*:after:mx-0 last:*:after:content-['']",
	]}
>
	<FormattedDate date={data.publishDate} />
	<span>{remarkPluginFrontmatter.minutesRead}</span>
	<!-- https://github.com/withastro/prettier-plugin-astro/issues/308 -->
	<!-- use prettier-ignore to avoid adding extra space -->
	{
		(data.updatedDate ?? remarkPluginFrontmatter.updatedDate) && (
			<>
				{/* prettier-ignore */}
				<span class="text-quote ">
				Updated: <FormattedDate class="ms-1" date={data.updatedDate ?? remarkPluginFrontmatter.updatedDate} /></span>
			</>
		)
	}
	{
		(data.demo || data.github) && (
			<span class="flex *:after:mx-3 *:after:content-['·'] last:*:after:mx-0 last:*:after:content-['']">
				{data.demo && (
					<>
						{/* prettier-ignore */}
						<span>
					<a href={data.demo} class="colored-link text-quote">
						Demo</a></span>
					</>
				)}
				{data.github && (
					<>
						{/* prettier-ignore */}
						<span>
					<a href={data.github} class="colored-link text-quote">
						Code</a></span>
					</>
				)}
			</span>
		)
	}
</div>

{
	!!data.tags?.length && (
		<div
			class="mt-2 flex flex-wrap gap-2"
			class:list={[{ "mx-2 justify-between": siteConfig.centerPost }]}
		>
			{data.tags.map((tag) => (
				<a
					aria-label={`View more blogs with the tag ${tag}`}
					class="cactus-link"
					data-pagefind-filter="tag"
					href={`/tags/${tag}/`}
				>
					#{tag}
				</a>
			))}
		</div>
	)
}
